@model IDIMAdmin.Models.User.ApplicationVm
@{
    ViewBag.Title = "Application";
}


<div class='col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Application</h1>
        </div>
        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i>Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("List", "Application")">
                        <i class="fa fa-list"></i>
                        Application
                    </a>
                </li>
                <li class="active">
                    <strong>Delete</strong>
                </li>
            </ol>
        </div>

    </div>
</div>
<div class="clearfix"></div>

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Delete</h2>
            <div class="actions panel_actions pull-right">
                <a href="@Url.Action("User","Application", new{ id = Model.ApplicationId })" class="btn btn-info">
                    <i class="fa fa-users" aria-hidden="true"></i> Role
                </a>
                <a href="@Url.Action("Menu","Application", new{ id = Model.ApplicationId })" class="btn btn-info">
                    <i class="fa fa-bars" aria-hidden="true"></i> Menu
                </a>
                <a href="@Url.Action("Create","Application")" class="btn btn-success">
                    <i class="fa fa-plus"></i> Create New
                </a>
                <a href="@Url.Action("Detail","Application", new { id=Model.ApplicationId})" class="btn btn-info">
                    <i class="fa fa-info"></i> Detail
                </a>
                <a href="@Url.Action("Edit","Application", new { id=Model.ApplicationId})" class="btn btn-primary">
                    <i class="fa fa-edit"></i> Edit
                </a>
                <a href="@Url.Action("List","Application")" class="btn btn-default">
                    <i class="fa fa-list"></i> List
                </a>
                <a class="box_toggle fa fa-chevron-down"></a>
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(m => m.ApplicationId, new { @class = "col-md-2 form-label" })
                            <div class="controls col-md-10">
                               :  @Html.DisplayFor(m => m.ApplicationId)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ApplicationCode, new { @class = "col-md-2 form-label" })
                            <div class="controls col-md-10">
                                :
                                <span class="label label-primary">
                                    @Html.DisplayFor(m => m.ApplicationCode)
                                </span>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.ApplicationName, new { @class = "col-md-2 form-label" })
                            <div class="col-md-10">
                               :  @Html.DisplayFor(m => m.ApplicationName, new { @class = "form-control", disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Icon, new { @class = "col-md-2 form-label" })
                            <div class="controls col-md-10">
                               :  @Html.DisplayFor(m => m.Icon)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Url, new { @class = "col-md-2 form-label" })
                            <div class="controls col-md-10">
                               :  @Html.DisplayFor(m => m.Url)
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.IsPublished, new { @class = "col-md-2 form-label" })
                            <div class="col-md-10">
                               :  @Html.DisplayFor(m => m.IsPublished, new{@class="iCheck"})
                            </div>
                        </div>
                    </form>
                    @using (Html.BeginForm("Delete", "Application", FormMethod.Post))
                    {
                        @Html.AntiForgeryToken()
                        @Html.Hidden("ApplicationId")

                        <a href="@Url.Action("List", "Application")" class="btn">Cancel</a>
                        <div class="pull-right">
                            <input type="submit" class="btn btn-success" value="Delete" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>