@using IDIMAdmin.Extentions
@model IDIMAdmin.Models.User.ApplicationDetailVm
@{
    ViewBag.Title = "Application Detail";
}

<div class='col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Application</h1>
        </div>

        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i>Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("List","User")">
                        <i class="fa fa-list" aria-hidden="true"></i>
                        Application
                    </a>
                </li>
                <li class="active">
                    <strong>User</strong>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="col-lg-12">
    <section class="box">
        <header class="panel_header">
            <h2 class="title pull-left">User</h2>
            <div class="actions panel_actions pull-right">
                <a href="@Url.Action("Create","Application")" class="btn btn-success">
                    <i class="fa fa-plus"></i> Create New
                </a>
                <a href="@Url.Action("Edit","Application", new { id=Model.Application.ApplicationId})" class="btn btn-primary">
                    <i class="fa fa-edit"></i> Edit
                </a>
                <a href="@Url.Action("Detail","Application", new{ id = Model.Application.ApplicationId })" class="btn btn-info">
                    <i class="fa fa-building-o" aria-hidden="true"></i>
                    Detail
                </a>
                @*<a href="@Url.Action("Device","Application", new{ id = Model.Application.ApplicationId })" class="btn btn-info">
                    <i class="fa fa-laptop" aria-hidden="true"></i>
                    Device
                </a>*@
                <a href="@Url.Action("Delete","Application", new { id=Model.Application.ApplicationId})" class="btn btn-danger">
                    <i class="fa fa-remove"></i> Delete
                </a>
                <a href="@Url.Action("List","Application")" class="btn btn-default">
                    <i class="fa fa-list"></i> List
                </a>



                <a class="box_toggle fa fa-chevron-down"></a>
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    <form class="form-horizontal">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Application.ApplicationId, new { @class = "col-md-2 form-label" })
                            <div class="col-md-10">
                                : @Html.DisplayFor(m => m.Application.ApplicationId, new { @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Application.ApplicationCode, new { @class = "col-md-2 form-label" })
                            <div class="col-md-10">
                                : @Html.DisplayFor(m => m.Application.ApplicationCode, new { @disabled = "disabled" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Application.ApplicationName, new { @class = "col-md-2 form-label" })
                            <div class="col-md-10">
                                : @Html.DisplayFor(m => m.Application.ApplicationName, new { @disabled = "disabled" })
                            </div>
                        </div>
                    </form>
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <header>

                                <h2 class="title pull-left">
                                    Users
                                    <span class="badge badge-danger">@Model.Users.Count</span>
                                </h2>
                            </header>

                            @if (Model.Users.Any())
                            {
                                <table id="DataGrid" class="table table-striped table-bordered">
                                    <thead>
                                    <tr>
                                        <th>Username</th>
                                        <th>Phone</th>
                                        <th>Regiment</th>
                                        <th>Active</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    @foreach (var v in Model.Users)
                                    {
                                        <tr>
                                            <td>@v.Username</td>
                                            <td>@v.Phone</td>
                                            <td>@v.RegimentNo</td>
                                            <td>@v.IsActive.ToIcon()</td>
                                            <td>
                                                <a href="@Url.Action("Detail", "User", new {id = v.UserId})">
                                                    <span class="label label-info"><i class="fa fa-info"></i> Detail</span>
                                                </a>
                                            </td>
                                        </tr>
                                    }
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                <p>No users found.</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#DataGrid').DataTable({
                "columns": [
                    null,
                    null,
                    null,
                    null,
                    {width:"80px"}
                ]
            });
        });
    </script>
}