@model IDIMAdmin.Models.User.ImageSlideVm
@{
    ViewBag.Title = "Image Slide";
}


<div class='col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Image</h1>
        </div>

        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i>Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("List","ImageSlide")">
                        <i class="fa fa-list" aria-hidden="true"></i>  Image
                    </a>
                </li>
                <li class="active">
                    <strong>Create</strong>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Create</h2>
            <div class="actions panel_actions pull-right">
                <a href="@Url.Action("List","ImageSlide")" class="btn btn-default">
                    <i class="fa fa-list"></i> List
                </a>
                <a class="box_toggle fa fa-chevron-down"></a>
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    @using (Html.BeginForm("Create", "ImageSlide", FormMethod.Post, new { @class = "form-horizontal", role = "form", @enctype = "multipart/form-data" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Title, new { @class = "col-md-4 form-label required" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Title)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ImagePath, new { @class = "col-md-4 form-label required" })
                                    <div class="col-md-8">
                                        <input type="file" name="ImageFile" />
                                        @Html.ValidationMessageFor(model => model.ImagePath)
                                        <p class="help-block">Recommended image dimensions: 1400(width) x 315(height) pixels.</p>
                                        @if (IsPost && (Request.Files["ImageFile"] == null || Request.Files["ImageFile"].ContentLength == 0))
                                        {
                                            <p class="text-danger">Please select a photo.</p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.AlternateText, new { @class = "col-md-4 form-label required" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.AlternateText, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.AlternateText)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Priority, new { @class = "col-md-4 form-label required" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Priority, new { @class = "form-control spinner", placeholder = "Enter a number" })

                                        @Html.ValidationMessageFor(model => model.Priority)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Description, new { @class = "col-md-2 form-label" })
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(m => m.Description, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Description)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pull-right">
                            <input type="submit" class="btn btn-success" value="Save" />
                            <input type="reset" class="btn" value="Clear" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>


