@model IDIMAdmin.Models.Setup.GeneralInformationSearchVm
@{
    ViewBag.Title = "General Information";
}

<div class='col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">General Information</h1>
        </div>
        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i>Dashboard</a>
                </li>
                <li class="active">
                    <strong>General Information</strong>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">List</h2>
            <div class="actions panel_actions pull-right">
                <a class="box_toggle fa fa-chevron-down"></a>
            </div>
        </header>
        <div class="content-body">
            @using (Html.BeginForm("List", "GeneralInformation", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()

                @*<div class="row">
                        <div class="col-xs-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.RankId, new { @class = "col-md-4 form-label" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.RankId, Model.RankDropdown, "Select Rank", new { @class = "select2" })
                                    @Html.ValidationMessageFor(model => model.RankId)
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group">
                                @Html.LabelFor(m => m.UnitId, new { @class = "col-md-4 form-label" })
                                <div class="col-md-8">
                                    @Html.DropDownListFor(m => m.UnitId, Model.UnitDropdown, "Select Unit", new { @class = "select2" })
                                    @Html.ValidationMessageFor(model => model.UnitId)
                                </div>
                            </div>
                        </div>
                    </div>*@

                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.RegimentNo, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.RegimentNo, new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.RegimentNo)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.BjoNo, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.BjoNo, new { @class = "form-control " })
                                @Html.ValidationMessageFor(model => model.BjoNo)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.RdoNo, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                @Html.TextBoxFor(m => m.RdoNo, new { @class = "form-control " })
                                @Html.ValidationMessageFor(model => model.RdoNo)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Phone1, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Phone1, new { @class = "form-control" })
                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.Phone1)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.Phone2, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.Phone2, new { @class = "form-control" })
                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.Phone2)
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-4">
                        <div class="form-group">
                            @Html.LabelFor(m => m.NationalId, new { @class = "col-md-4 form-label" })
                            <div class="col-md-8">
                                <div class="input-group">
                                    @Html.TextBoxFor(m => m.NationalId, new { @class = "form-control" })
                                    <span class="input-group-addon"><i class="fa fa-file-text"></i></span>
                                </div>
                                @Html.ValidationMessageFor(model => model.NationalId)
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-xs-12">
                    <div class="form-group">
                        <input type="submit" class="btn btn-success pull-right" value="Search" />
                    </div>
                </div>
            }

            <div class="row">
                <div class="col-xs-12">
                    <table id="DataGrid" class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.RegimentNo)</th>
                                <th>@Html.DisplayNameFor(m => m.BjoNo)</th>
                                <th>@Html.DisplayNameFor(m => m.RdoNo)</th>
                                <th>@Html.DisplayNameFor(m => m.RankId)</th>
                                <th>@Html.DisplayNameFor(m => m.UnitId)</th>
                                <th>@Html.DisplayNameFor(m => m.Phone1)</th>
                                <th>@Html.DisplayNameFor(m => m.IsActiveStatus)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var v in Model.GeneralInformations)
                            {
                                <tr>
                                    <td>@v.RegimentNo</td>
                                    <td>@v.BjoNo</td>
                                    <td>@v.RdoNo</td>
                                    <td>@v.RankId</td>
                                    <td>@v.UnitId</td>
                                    <td>@v.Phone1</td>
                                    <td>@v.IsActiveStatus</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            $('#DataGrid').DataTable({
                "aaSorting": [],
                "columns": [
                    { className: "id" },
                    null,
                    null,
                    null,
                    null,
                    null,
                    null
                ]
            });
        });
    </script>
}


