@using IDIMAdmin.Extentions.File
@model IDIMAdmin.Models.User.UserProfile
@{
    ViewBag.Title = "User";
}

<style>
    .uprofile-left {
        background: #fff;
        padding: 30px 0;
    }
</style>

<div class='col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">My Account</h1>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="col-lg-12">
    <section class="box nobox ">
        <div class="content-body">
            <div class="row">
                <div class="col-md-3 col-sm-4 col-xs-12">
                    <div class="uprofile-left">
                        <div class="uprofile-image">
                            @if (@Model.Regiment != null)
                            {
                                <img src="@Url.Content(Model.Regiment.Picture.ToThumbnail())" class="img-responsive" alt="@(Model.Regiment?.Name)">
                            }
                            else
                            {
                                <img src="path_to_default_image" class="img-responsive" alt="@(Model.Regiment?.Name)">
                            }

                        </div>
                        <div class="uprofile-name">
                            <h3>
                                <a href="#">@Model.User.Username</a>
                                <span class="uprofile-status online"></span>
                            </h3>
                            <p class="uprofile-title">@Model.User.RegimentNo</p>
                            <p class="uprofile-title">@(Model.Regiment?.Name)</p>
                            <p class="uprofile-title bengali">@(Model.Regiment?.NameB)</p>
                            <p class="uprofile-title">@(Model.Regiment?.UnitName)</p>
                        </div>
                        <div class="uprofile-info">
                            <ul class="list-unstyled">
                                <li>
                                    <i class="fa fa-phone"> @Model.User.Phone</i>
                                </li>
                                <li>
                                    <i class="fa fa-envelope"> @Model.User.Email</i>
                                </li>
                            </ul>
                        </div>
                        <div class="uprofile-buttons">
                            @*<a href="@Url.Action("Edit","User")" class="btn btn-md btn-primary">Edit</a>*@
                            <a href="@Url.Action("ChangePassword","Profile")" class="btn btn-md btn-primary">Change Password</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-9 col-sm-8 col-xs-12">
                    <div class="uprofile-content">
                        <header class="panel_header">
                            <h2 class="title pull-left">Regiment</h2>
                        </header>
                        <table class="table table-condensed">
                            <tr >
                                <th style="width: 150px">Name</th>
                                <td>@(Model.Regiment?.Name)</td>
                            </tr>
                            <tr>
                                <th>Name (Bengali)</th>
                                <td class="bengali">@(Model.Regiment?.NameB)</td>
                            </tr>
                            <tr>
                                <th>Regiment</th>
                                <td>@(Model.Regiment?.RegimentNo)</td>
                            </tr>
                            <tr>
                                <th>Regiment (Bengali)</th>
                                <td class="bengali">@(Model.Regiment?.RegimentNoB)</td>
                            </tr>
                            <tr>
                                <th>Rank</th>
                                <td>@(Model.Regiment?.RankName)</td>
                            </tr>
                            <tr>
                                <th>Trade</th>
                                <td>@(Model.Regiment?.TradeName)</td>
                            </tr>
                            <tr>
                                <th>JCO No</th>
                                <td>@(Model.Regiment?.BjoNo)</td>
                            </tr>
                            <tr>
                                <th>RDO No</th>
                                <td>@(Model.Regiment?.RdoNo)</td>
                            </tr>
                            <tr>
                                <th>Unit</th>
                                <td>@(Model.Regiment?.UnitName)</td>
                            </tr>
                        </table>
                        <header class="panel_header">
                            <h2 class="title pull-left">Applications</h2>
                        </header>
                        @if (Model.Applications.Any())
                        {
                            foreach (var application in Model.Applications)
                            {
                                <a href="@Url.Action("Detail", "Application", new {id = application.ApplicationId})">
                                    <span class="badge badge-md badge-danger">@application.ApplicationName</span>
                                </a>
                            }
                            <p>@Model.Applications.Count Applications assigned.</p>
                        }
                        else
                        {
                            <p>No Applications assigned.</p>
                        }

                        <header class="panel_header">
                            <h2 class="title pull-left">Menus</h2>
                        </header>
                        <div class="panel-group primary collapsed" id="accordion-4" role="tablist" aria-multiselectable="true">
                            @if (Model.Menus.Any())
                            {
                                for (var i = 0; i < Model.Menus.Count(); i++)
                                {
                                    <div class="panel panel-default">
                                        <div class="panel-heading" role="tab" id="headingOne1">
                                            <h4 class="panel-title">
                                                <a data-toggle="collapse" data-parent="#accordion" href="#collapse-@i" aria-expanded="true" aria-controls="collapseOne">
                                                    <i class='fa fa-check'></i> @Model.Menus[i].ApplicationName
                                                </a>
                                            </h4>
                                        </div>
                                        <div id="collapse-@i" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingOne1">
                                            <div class="panel-body">
                                                <table class="table table-striped table-bordered">
                                                    <tbody>
                                                        @for (var j = 0; j < Model.Menus[i].Menus.Count(); j++)
                                                        {
                                                            <tr>
                                                                <td>
                                                                    @Html.DisplayFor(m => Model.Menus[i].Menus[j].Title)
                                                                </td>
                                                            </tr>
                                                        }
                                                    </tbody>
                                                </table>
                                            </div>
                                        </div>
                                        @if (i < Model.Menus.Count() - 1)
                                        {
                                            <div style="margin-top: 10px;"></div>
                                        }
                                    </div>
                                }
                            }
                            else
                            {
                                <p>No Menu assigned.</p>
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>