@model IDIMAdmin.Models.User.MenuVm
@{
    ViewBag.Title = "Menu";
}

<div class='col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Menu</h1>
        </div>

        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i>Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("List","Menu")">
                        <i class="fa fa-list" aria-hidden="true"></i>  Menu
                    </a>
                </li>
                <li class="active">
                    <strong>Edit</strong>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Edit</h2>
            <div class="actions panel_actions pull-right">
                <a href="@Url.Action("List","Menu")" class="btn btn-default">
                    <i class="fa fa-list"></i> List
                </a>
                <a class="box_toggle fa fa-chevron-down"></a>
            </div>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    @using (Html.BeginForm("Edit", "Menu", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.HiddenFor(m => m.MenuId)

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Title, new { @class = "col-md-4 form-label required" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Title, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Title)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ApplicationId, new { @class = "col-md-4 form-label required" })
                                    <div class="col-md-8">
                                        @Html.DropDownListFor(m => m.ApplicationId, Model.ApplicationDropdown, "Select Applicaiton", new { @class = "select2" })
                                        @Html.ValidationMessageFor(model => model.ApplicationId)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ControllerName, new { @class = "col-md-4 form-label required" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.ControllerName, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ControllerName)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.MenuType, new { @class = "col-md-4 form-label required" })
                                    <div class="col-md-8">
                                        @Html.EnumDropDownListFor(m => m.MenuType, "Select Type", new { @class = "select2" })
                                        @Html.ValidationMessageFor(model => model.MenuType)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Priority, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.Priority, new { @class = "form-control spinner" })

                                        @Html.ValidationMessageFor(model => model.Priority)
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Icon, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        <div class="input-group">
                                            @Html.TextBoxFor(m => m.Icon, new { @class = "form-control" })
                                            <div class="input-group-addon">
                                                <i class="fa fa-@Model.Icon"></i>
                                            </div>
                                        </div>
                                        @Html.ValidationMessageFor(model => model.Icon)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.IsPublished, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.CheckBoxFor(m => m.IsPublished, new { @class = "form-control iCheck" })
                                        @Html.ValidationMessageFor(model => model.IsPublished)
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.Remark, new { @class = "col-md-2 form-label" })
                                    <div class="col-md-10">
                                        @Html.TextAreaFor(m => m.Remark, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Remark)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pull-right">
                            <input type="submit" class="btn btn-success" value="Save" />
                            <input type="reset" class="btn" value="Clear" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>

