@using IDIMAdmin.Extentions
@using IDIMAdmin.Extentions.Session
@using IDIMAdmin.Models.User

<!DOCTYPE html>
<html class=" ">
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>@ViewBag.Title - IDIM Admin </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="Integrated Database Management System for Border Guard of Bangladesh" name="description" />
    <meta content="Md Kakuya Taslim" name="author" />
    <meta content="Brain Station 23 Limited" name="company" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="shortcut icon" href="~/Content/images/bgb-logo.png" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="~/Content/images/bgb-logo.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/bgb-logo.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/bgb-logo.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/bgb-logo.png">
    @{
        ViewBag.User = UserExtention.Get<UserInformation>("UserInformation");
        var currentControllerName = ViewContext.RouteData.GetRequiredString("controller");
        int time;
        var lockTime = 0;
        int.TryParse(DefaultData.LockTime, out time);
        if (time > 0 && HttpContext.Current.Session.Timeout > time)
        {
            lockTime = time;
        }
    }
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/form")
    @Styles.Render("~/Content/datatable")
    @RenderSection("styles", required: false)
    @Styles.Render("~/Content/admin")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script>var time =  @lockTime * 60*1000;var lourl = '@Url.Action("Lock","Login")';</script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
</head>
<body class=" ">
    @Html.Partial("Partial/_TopMenuBar")
    <div class="page-container row-fluid container-fluid">

        @Html.Partial("Partial/_LeftSidebarMenu")
        <section id="main-content" class=" ">
            <section class="wrapper main-wrapper row" style=''>
                @Html.Partial("Partial/_Message")
                @RenderBody()

                <div class="col-lg-12" id="footer">
                    <div class="pull-right">
                        @Html.Partial("Partial/_Footer")
                    </div>
                </div>
            </section>
        </section>

    </div>

    @Scripts.Render("~/bundles/jquerymig")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/theme")
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/admin")
    @RenderSection("scripts", required: false)

    <script>
        $(document).ready(function () {
            var items = $('#main-menu-wrapper li a');
            $.each(items,
                function(i) {
                    var link = this.href;
                    var controllerName = link.split('/')[3];
                    if ('@currentControllerName'.toLowerCase() == controllerName.toLowerCase()) {
                        $(this).parent().addClass("open");
                    }
                });

            //var selector = $('#main-menu-wrapper ul .open');
            //selector.promise().done(function(e) {
            //    var mMenuTop = this.offset().top;
            //    $("#main-menu-wrapper").scrollTop(mMenuTop);
            //});
        });
        @*$(document).ready(function () {
        var items = $('#main-menu-wrapper a');
        $.each(items,
            function(i) {
                var link = this.href;
                var controllerName = link.split('/')[3];
                if ('@currentControllerName'.toLowerCase() == controllerName.toLowerCase()) {
                    //var isMultiLevel = $(this).parent().parent().hasClass('sub-menu');
                    //if (isMultiLevel === true) {
                    $(this).addClass("active")
                        .closest('.sub-menu').css({ display: 'block' })
                        .closest('li').addClass('open');
                    //} else {
                    //    $(this).parent().addClass("open");
                    //}
                }
            });
    });*@
    </script>
</body>
</html>


