@using IDIMAdmin.Extentions.Session
@using IDIMAdmin.Models.User

<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <meta charset="utf-8" />
    <title>IDIM Admin : @ViewBag.Title </title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta content="BGB - Border Guard of Bangladesh " name="description" />
    <meta content="Md Kakuya Taslim" name="author" />
    <meta content="Brain Station 23 Limited" name="Compnay" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    <link rel="shortcut icon" href="~/Content/images/bgb-sm.png" type="image/x-icon" />
    <link rel="apple-touch-icon-precomposed" href="~/Content/images/bgb-sm.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="~/Content/images/bgb-sm.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="~/Content/images/bgb-sm.png">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="~/Content/images/bgb-sm.png">
    @{
        ViewBag.User = UserExtention.Get<UserInformation>("UserInformation");
    }
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/vectormap")
    @RenderSection("styles", required: false)
    @*@Styles.Render("~/Content/admin")*@
    @Styles.Render("~/Content/login")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="page-container row-fluid container-fluid">
        @Html.Partial("Partial/_Message")
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquerymig")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/login")
    @Scripts.Render("~/bundles/theme")
    @Scripts.Render("~/bundles/form")
    @Scripts.Render("~/bundles/datatable")
    @Scripts.Render("~/bundles/admin")
    @RenderSection("scripts", required: false)
</body>
</html>


