@model IDIMAdmin.Models.User.ChangePasswordVm
@{
    ViewBag.Title = "Change Password";
}

<div class='col-xs-12'>
    <div class="page-title">
        <div class="pull-left">
            <h1 class="title">Change Password</h1>
        </div>
        <div class="pull-right hidden-xs">
            <ol class="breadcrumb">
                <li>
                    <a href="@Url.Action("Index","Dashboard")"><i class="fa fa-home"></i>Dashboard</a>
                </li>
                <li>
                    <a href="@Url.Action("Index","Profile")">
                        <i class="fa fa-user" aria-hidden="true"></i>
                        Profile
                    </a>
                </li>
                <li class="active">
                    <strong>Change Password</strong>
                </li>
            </ol>
        </div>
    </div>
</div>
<div class="clearfix"></div>

<div class="col-lg-12">
    <section class="box ">
        <header class="panel_header">
            <h2 class="title pull-left">Change Password</h2>
        </header>
        <div class="content-body">
            <div class="row">
                <div class="col-xs-12">
                    @using (Html.BeginForm("ChangePassword", "User", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                        @Html.AntiForgeryToken()

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group hidden">
                                    @Html.LabelFor(m => m.UserId, new { @class = "col-md-4 form-label" })
                                    <div class="col-md-8">
                                        @Html.TextBoxFor(m => m.UserId, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.UserId)
                                    </div>
                                </div>
                            </div>
                        </div>

                        @*<div class="row">
                                <div class="col-md-12">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.Password, new { @class = "col-md-2 form-label required" })
                                        <div class="col-md-10">
                                            @Html.DisplayFor(m => m.Password, new { @class = "form-control" })
                                            @Html.HiddenFor(m => m.Password)
                                            @Html.ValidationMessageFor(model => model.Password)
                                        </div>
                                    </div>
                                </div>
                            </div>*@


                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.NewPassword, new { @class = "col-md-2 form-label required" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.NewPassword, new { @class = "form-control", placeholder = "Password must be at least 8 characters with 1 uppercase, 1 lowercase, and 1 number." })
                                        @Html.ValidationMessageFor(model => model.NewPassword)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    @Html.LabelFor(m => m.ReNewPassword, new { @class = "col-md-2 form-label required" })
                                    <div class="col-md-10">
                                        @Html.PasswordFor(m => m.ReNewPassword, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.ReNewPassword)
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="pull-right">
                            <input type="submit" class="btn btn-success" value="Save" />
                            <input type="reset" class="btn" value="Clear" />
                        </div>
                    }
                </div>
            </div>
        </div>
    </section>
</div>